<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
		<!-- VO&DTO를 등록하세요 (별칭 설정)--> 
		<typeAliases>
			<typeAlias type="com.spring.solinsystem.dto.MemberDTO" alias="MemberDTO"/>
			<typeAlias type="com.spring.solinsystem.dto.TableDTO" alias="TableDTO"/>
			<typeAlias type="com.spring.solinsystem.dto.ContactDTO" alias="contactDTO"/>
			<typeAlias type="com.spring.solinsystem.dto.CommentDTO" alias="commentDTO"/>
		</typeAliases>
		
	</configuration>