<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MypageMapper">
	<!-- 회원정보 수정 -->
	<update id="editservice">
		update member 
		set
			mb_name = #{mb_name},
			mb_mail = #{mb_mail},
			mb_phone = #{mb_phone},
			mb_img = #{mb_img}
		where
			mb_id = #{mb_id}
	</update>
	
	<!-- 회원정보 삭제 -->
	<delete id="deleteservice">
		delete from member
		where mb_id=#{mb_id}
	</delete>
	
	<!-- pw 맞는지 확인 -->
	<select id="pwCheck" resultType="int">
		select count(*) from member where mb_pw = #{login_pw}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="pweditservice">
		update member 
		set
			mb_pw = #{mb_newpw}
		where
			mb_id = #{mb_id}
	</update>
	
	 <!--회원 프로필 이미지 변경-->
    <update id="updateProfile" >
        UPDATE member
        SET
            mb_img = #{profileImage}
        WHERE mb_id = #{mb_id}
    </update>
	
	<select id="selectProfile"  resultType="String">
		select mb_img
			from member
		where mb_id = #{mb_id}
	</select>
</mapper>